[Unit]
Description=Update system DNS record

[Service]
Type=oneshot
ExecStart=/home/{{ admin_user|quote }}/.local/bin/update-dns
ExecStopPost=/home/{{ admin_user|quote }}/.local/bin/mail-systemd-failure %n
User={{ admin_user }}
Group={{ admin_user }}
